@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background Animation */
@keyframes move-background {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-10%) translateY(-10%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.animate-move-background {
  animation: move-background 15s infinite alternate linear;
}

/* Slideshow Animation */
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-slide {
  animation: slide 10s infinite linear;
}
